-
	const attributes = ["strength", "dexterity", "constitution", "intelligence", "wisdom", "charisma"];
	const customSkills = {
		culture_alien: "Culture/Alien/",
		culture_one: "Culture/",
		culture_two: "Culture/",
		culture_three: "Culture/",
		profession: "Profession/"
	};
	const skills = {
		revised: ["administer", "connect", "exert", "fix", "heal", "know", "lead",
			"notice", "perform", "pilot", "program", "punch", "shoot", "sneak", "stab",
			"survive", "talk", "trade", "work"],
		first: ["artist", "athletics", "bureaucracy", "business", "combat_energy", "combat_gunnery",
			"combat_primitive", "combat_projectile", "combat_psitech", "combat_unarmed", "computer",
			"culture_alien", "culture_criminal", "culture_spacer", "culture_traveller", "culture_one",
			"culture_two", "culture_three", "exosuit", "gambling", "history", "instructor", "language",
			"leadership", "navigation", "perception", "persuade", "profession", "religion", "science",
			"security", "stealth", "steward", "survival", "tactics", "tech_astronautic", "tech_maltech",
			"tech_medical", "tech_postech", "tech_pretech", "tech_psitech", "vehicle_air", "vehicle_grav",
			"vehicle_land", "vehicle_space", "vehicle_water", "dummy"],
		psionic: ["biopsionics", "metapsionics", "precognition", "telekinesis", "telepathy", "teleportation"],
		magic: ["know_magic", "use_magic", "sunblade"],
		wwn: ["administer", "connect", "convince", "craft", "exert", "heal", "know", "lead", "magic", "notice", "perform", "pray", "punch", "ride", "sail", "shoot", "sneak", "stab", "survive", "trade", "work"],
		combatRevised: ["exert", "punch", "shoot", "stab"],
		combatWWN: ["exert", "punch", "shoot", "stab", "magic"] ,
		combatsFirst: ["energy", "gunnery", "primitive", "projectile", "psitech", "unarmed"],
	};
