input(name='attr_version' type='hidden' value='4.51')

//- CHARACTER SHEET PAGE
input.sheet_type(name='attr_sheet_type' type='hidden' value='pc')

//- CHARACTER TYPE (MUNDANE < MAGIC < RESONANCE)
input.character-type(name='attr_flag_special' type='hidden' value='mundane')

//- MIXINS
include src/pug/abstracts/_mixins.pug

//- VARIABLES
include src/pug/base/_variables.pug

- const imageSource = 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Shadowrun5thEdition/src/imgs/'

//- PCs
include src/pug/pages/pc.pug

//- NPCs
include src/pug/pages/npc.pug

//- FOOTER
.footer
	div
		span(data-i18n="copyrightfooter")
		span Version
		span(name="attr_version")
	img(alt='Emerald Productins, LLC' src=`${imageSource}/EProd_Emerald_Gloss.png`)

//- ROLL TEMPLATES
include src/pug/_rolltemplates.pug

//- HIDDEN
include src/html/hidden.html

//- SCRIPTS
include src/pug/scripts.pug

//- CHARACTER IMPORTER
include src/components/CharacterImporter/importer.html
