/***** STATIC  *****/
div.sheet-static {
  margin-right: 0.5%;
  transition: transform .2s;

  div.sheet-border-box,
  div.sheet-border-box .sheet-pc-box {
    border-top-right-radius: 0px;
    border-top-left-radius : 10px;
  }

  input[type='text'], input[type='number'] { 
    background-color: transparent; 
    border: none;
    width: 100%;

    &:placeholder-shown {
      background-color: $graytrans;
    }
  }

  @import '../../../components/PersonalData/info';

  @import '../../../components/Attributes/attributes'
}